{% extends 'dashboard/base_logged.html' %}
{% load crispy_forms_tags %}



{% block title %}{{object.name}} {% endblock %}
{% block main_header %}{{object.name}}
<a type="button"  href="{% url 'building_detail' pk=object.building.pk %}" class="btn btn-outline btn-default"><i class="fa fa-arrow-left"></i> Back to Building Details</a>
{% endblock %}

{% block main_content %}
<div clas="row">
  <div class="col-md-6">
    <img class="img-responsive" src="{{object.blueprint.url}}" height="400px;"></img>
  </div>
  <div class="col-md-6">
    <form method="POST" action="" enctype="multipart/form-data">  {% csrf_token %}
      {{form | crispy }}
      <button type="submit" class="btn btn-success" name="action">Update Floor</button>
      <a class="btn btn-default" href="{% url 'building_detail' pk=object.building.pk %}">Cancel</a>
    </form>
  </div>
</div>


{% endblock %}
