{% extends 'account/base_visitor.html' %}
{% load crispy_forms_tags %}


{% block title %}Password Reset {% endblock %}
{% block paneltitle %}Password Reset{% endblock %}

{% block form %}
<form class="login" method="POST" action="{% url 'account_reset_password' %}"> {% csrf_token %}
  {{ form | crispy }}
  <input type="submit" class="btn btn-lg btn-success btn-block" value="Password Reset">
</form>
<br>
<br>
<div class="alert alert-warning" role="alert">
  <p>Please contact UoA if you have any trouble resetting your password.</p>
</div>
{% endblock %}
