{% extends 'dashboard/base_logged.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



{% block title %}{{object.name}} {% endblock %}
{% block main_header %}{{object.name}} <a type="button"  href="{% url 'building_list' %}" class="btn btn-outline btn-default"><i class="fa fa-arrow-left"></i>
 Back to Building list</a>
 {% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-md-4">
    {% if object.photo %}<img src="{{object.photo.url}}" class="img-responsive"></img>
    {% else%}<img src="{% static 'img/building.jpg' %}" class="img-responsive"></img>
    {% endif %}
    <a type="button"  href="{% url 'preparedness_questionnaire_list' pk=object.pk %}"
        class="btn btn-outline btn-{% if preparedness_questionnaire %}info{% else %}danger{% endif %}">Evacuation Preparedness Questionnaire</a>
    <form method="POST" action="" enctype="multipart/form-data"  data-step="1" data-intro="Update your Building">  {% csrf_token %}
      {{form | crispy }}
      <button type="submit" class="btn btn-success" name="action">Update Building</button>
    </form>
  </div>
  <div class="col-md-8">

    <div class="row">
      <div class="col-xs-12">
        <h2 class="text-center">Floors</h2>
        {% for floor in object.floor_set.all %}
        <div class="media">
        <a class="media-left" href="{% url 'floor_detail' pk=floor.pk pk_building=object.pk %}">
          <img class="media-object" width="60px;" src="{{floor.blueprint.url}}" alt="Generic placeholder image">
        </a>
          <div class="media-body">
            <h4 class="media-heading">
              <a href="{{floor.get_absolute_url}}">{{floor.name}}</a>
              <a href="{% url 'floor_delete' pk=floor.pk pk_building=object.pk %}" type="button" class="btn btn-danger btn-circle pull-right"><i class="fa fa-times"></i></a>
            </h4>
            <p class="help-block small">Number: {{floor.number}}
            Max Evacuation Time: {{floor.max_evacuation_time}}
            Number of Students: {{floor.stud_number}}</p>
          </div>
        </div>
        {% endfor%}
        <div class="text-center" data-step="2" data-intro="Insert a Floor"><a href="{% url 'floor_new' pk=object.pk %}" class="btn btn-info">New Floor</a></div>
    </div>
    <div class="col-xs-12">
      <h2 class="text-center">Experiments</h2>

      {% for test in object.experiment_set.all %}
      <div class="media">
      <a class="media-left">
        <i class="fa fa-flask fa-3x"></i>
      </a>
        <div class="media-body">
          <h4 class="media-heading">
            <a href="{% url 'experiment_delete' pk=test.pk %}?next={{object.get_absolute_url}}" type="button" class="btn btn-danger btn-circle pull-right"><i class="fa fa-times"></i></a>
            <a href="{{test.get_absolute_url}}" data-step="4" data-intro="Click for details">{{test.name}}</a> <a href="{% url 'realtime' pk=test.pk %}" style="color:red;font-size:smaller;text-decoration:none;">Real Time Demo</a>
            <p class="help-block small">Disaster: {{test.get_disaster_display}} {% if test.execuation_date %}Execuation Date:  {{test.execuation_date}} {% endif %}</p>
            <ul {% if test.plan_set.count > 0%} data-step="6" data-intro="Click for details"{% endif %}>
              {% for plan in test.plan_set.all %}<li><h5><a href="{% url 'plan_detail' pk_experiment=test.pk pk=plan.pk %}">{{plan}}</a></h5></li>{% endfor %}
            </ul>
            <form class="form-inline" method="POST" action="{% url 'new_plan' pk_experiment=test.pk %}?next={{object.get_absolute_url}}" data-step="5" data-intro="Insert new Evacuation Path">{% csrf_token %}
              <input type="text" class="form-control input-sm" name="name" placeholder="Evacuation Path Name*">
              <button type="submit" class="btn btn-info btn-sm ">New Evacuation Path</button>
            </form>
          </h4>
        </div>
      </div>
      {% endfor%}
      <div class="text-center">

        <form method="POST" action="{% url 'experiment_new' %}?next={{object.get_absolute_url}}"  class="form-inline" role="form" data-step="3" data-intro="Insert new Experiment">{% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Experiment Name*">
          </div>
          <div class="form-group">
            <select class="form-control" name="disaster">
              {% for key,value in disaster_choices %}
                 <option value="{{key}}">{{value}}</option>
                 {% endfor %}
            </select>
          </div>
          <input type="hidden" class="form-control" name="building" value="{{object.pk}}">
          <button type="submit" class="btn btn-info">New Experiment</button>
        </form>

      </div>



    </div>

  </div>

</div>


{% endblock %}
