{% extends 'dashboard/base_logged.html' %}
{% load staticfiles %}


{% block title %}Buildings {% endblock %}
{% block main_header %}Buildings {% endblock %}

{% block main_content %}


{% verbatim %}
<div ng-app='mainApp'  ng-controller="BuildingController">

  <div class="form-group has-feedback search-bar">
    <span class="glyphicon glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    <input ng-model="filterText" type="text" class="form-control extra-margin" placeholder="Search for...">
    <div>
      <label class="sort-icons">Sort By: </label>
      <button ng-click="orderText='name'" class="btn btn-circle"><i class="fa fa-text-width" aria-hidden="true"></i></button>
      <button ng-click="orderText='max_evacuation_time'" class="btn btn-circle"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
      <button ng-click="orderText='country'" class="btn btn-circle"><i class="fa fa-map-pin" aria-hidden="true"></i></button>
    </div>
  </div>


  <button data-toggle="modal" data-target="#insertBuilding" class="btn btn-circle btn-success btn-lg add-new-button"><i class="fa fa-plus" aria-hidden="true"></i></button>

  <div ng-controller="NewBuildingController" style="margin-bottom:80px;" class="modal fade in" id="insertBuilding" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" name="buildingForm" ng-submit="submitBuilding()" novalidate >
          <div class="modal-header">
            <h2>Insert a new Building</h2>
          </div>
          <div class="modal-body">
         <!-- Name -->
            <div class="form-group has-feedback" ng-class="{ 'has-error' : buildingForm.name.$error.required && !buildingForm.name.$pristine, 'has-success': buildingForm.name.$valid }">
              <label for="name" class="col-sm-3 control-label">Building Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"  name="name" placeholder="Enter Building Name" ng-model="building.name" required/>
                <span ng-show="buildingForm.name.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span ng-show="buildingForm.name.$error.required && !buildingForm.name.$pristine" class="help-block">Building Name is required.</span>
              </div>
            </div>
            <!-- Country -->
            <div class="form-group has-feedback" ng-class="{'has-success':  buildingForm.country.$dirty}">
              <label for="country" class="col-sm-3  control-label">Country</label>
              <div class="controls col-sm-9">
                <select class="select form-control" name="country"
                  ng-model="building.country" ng-options="country.countryID as country.countryName for country in countries " required>
                </select>
              </div>
            </div>
            <!-- address -->
            <div class="form-group has-feedback has-success">
              <label for="address" class="col-sm-3 control-label">Building Address</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="address" placeholder="Enter Building Address" ng-model="building.address"/>
              </div>
            </div>
            <!-- PostCode  -->
            <div class="form-group has-feedback has-success">
              <label for="postcode" class="col-sm-3 control-label">PostCode</label>
              <div class="col-sm-9">
                <input type="number" class="form-control"  name="postcode" placeholder="Enter Building PostCode" ng-model="building.postcode"/>
              </div>
            </div>
            <!-- Max Evacuation Time -->
            <div class="form-group has-feedback has-success">
              <label for="postcode" class="col-sm-3 control-label">Maximum Evacuation Time</label>
              <div class="col-sm-9">
                <input type="number" class="form-control"  name="postcode" placeholder="Enter Building Maximum Evacuation Time" ng-model="building.max_evacuation_time"/>
                <p class="help-block">in seconds</p>
              </div>
            </div>
            <!-- Photo -->
            <div class="form-group has-feedback has-success">
              <label for="photo"  class="col-sm-3 control-label">Photo</label>
              <div class="col-sm-9">
                <input name="photo" type="file" />
                <p class="help-block">Supported Formats: png, jpg, jpeg, bmp</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-disabled="buildingForm.$invalid">Send Comment</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div masonry data-step="2" data-intro="Press any building to continue"  masonry-options="{ gutter: 10 }" reload-on-show>
      <div class="masonry-brick" ng-repeat="building in buildings| filter: filterText | orderBy: orderText ">
        <div class="thumbnail">
          <a type="button" href="#" class="btn btn-danger btn-circle delete-button-building"><i class="fa fa-times"></i></a>
          <a href="{{getUrl(building.id)}}"> <img ng-src="{{getPhoto(building.photo)}}"  alt="Building Name" style="width:100%"></a>
            <div class="caption">
                <h3 class="text-center">{{building.name}}</h3>
                <p>Country: {{building.country}}</p>
                <p ng-if="building.address">Address: {{building.address}}</p>
                <p ng-if="building.max_evacuation_time">Max Evaluation Time: <span class="label label-default">{{building.max_evacuation_time}} sec</span></p>
                <br>
                <div class="">
                  <div class="">
                    <p><a href="{{getUrl(building.id)}}" class="btn btn-info btn-block" role="button">Details</a>
                  </div>
                  <div class="">
                    <a type="button"  href="#" class="btn btn-outline btn-danger btn-block">Delete</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>

</div>


{% endverbatim %}

{% endblock %}


{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"> </script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

<script src="{% static 'bower_components/angular-masonry/angular-masonry.js' %}"></script>


<script>
  var app = angular.module('mainApp', ['wu.masonry']);

  app.controller('BuildingController', ['$scope', '$http', '$rootScope', '$timeout', function($scope, $http, $rootScope, $timeout){
    $scope.name = "Michael";
    $scope.buildings = [];

    $scope.getUrl = function(id){
      return '/building/'+ id;
    };

    $scope.getPhoto = function(photo){
      if(photo){
        return photo;
      } else
        return '/static/img/building.jpg';
    };

   $scope.$watch('filterText', function() {
     $timeout(function () {
        $rootScope.$broadcast('masonry.reload');
      }, 200);
   });

    $http.get('/buildings/')
      .then(
        function(response){
          console.log(response.data);
          $scope.buildings = response.data;
        }
      );
  }])
  .controller('NewBuildingController', ['$scope', function($scope){
    $scope.countries = [
       {countryID: 'gr', countryName: 'Greece'},
       {countryID: 'rm', countryName: 'Romania'},
       {countryID: 'it', countryName: 'Italy'},
       {countryID: 'bg', countryName: 'Bulgary'}
     ];

    $scope.building = {
                name: "",
                country: "",
                address: "",
                postcode: "",
                max_evacuation_time: "",
                photo: ""
              };

    $scope.submitBuilding = function () {

      //Step 2: This is how you record the date
      //"The date property of your JavaScript object holding the comment" = new Date().toISOString();
      $scope.comment.date = new Date().toISOString();
      // Step 3: Push your comment into the dish's comment array
      $scope.dish.comments.push($scope.comment);
      //Step 4: reset your form to pristine
      $scope.commentForm.$setPristine();

      console.log($scope.dish);
      //Step 5: reset your JavaScript object that holds your comment
      $scope.comment = {
        author: "",
        rating: "5",
        comment: "",
        date:""
      };
    };

  }]);
</script>

{% endblock %}






{% block js-jquery-testing %}
<script>
$( document ).ready(function() {
  $.getJSON( "/buildings/", function( data ) {
    console.log(data);
  });
});
</script>
{% endblock %}
