{% extends 'dashboard/base_logged.html' %}
{% load staticfiles %}


{% block title %}Buildings {% endblock %}
{% block main_header %}Buildings {% endblock %}

{% block main_content %}
<!-- <div class="row">
  <div class="col-xs-12" data-step="1" data-intro="Insert New Building">
    <p ><a href="{% url 'building_new' %}" class="btn btn-success">Insert new Building</a></p>
  </div>
</div> -->



{% verbatim %}
<div ng-app='mainApp'  ng-controller="buildingController">

  <div class="form-group has-feedback search-bar">
    <span class="glyphicon glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
    <input ng-model="filterText" type="text" class="form-control extra-margin" placeholder="Search for...">
    <div>
      <label class="sort-icons">Sort By: </label>
      <button ng-click="orderText='name'" class="btn btn-circle"><i class="fa fa-text-width" aria-hidden="true"></i></button>
      <button ng-click="orderText='max_evacuation_time'" class="btn btn-circle"><i class="fa fa-clock-o" aria-hidden="true"></i></button>
      <button ng-click="orderText='country'" class="btn btn-circle"><i class="fa fa-map-pin" aria-hidden="true"></i></button>
    </div>
  </div>






  <div masonry data-step="2" data-intro="Press any building to continue"  masonry-options="{ gutter: 10 }" reload-on-show>
      <div class="masonry-brick" ng-repeat="building in buildings| filter: filterText | orderBy: orderText ">
        <div class="thumbnail">
          <a type="button" href="#" class="btn btn-danger btn-circle delete-button-building"><i class="fa fa-times"></i></a>
          <a href="{{getUrl(building.id)}}"> <img ng-src="{{getPhoto(building.photo)}}"  alt="Building Name" style="width:100%"></a>
            <div class="caption">
                <h3 class="text-center">{{building.name}}</h3>
                <p>Country: {{building.country}}</p>
                <p ng-if="building.address">Address: {{building.address}}</p>
                <p ng-if="building.max_evacuation_time">Max Evaluation Time: <span class="label label-default">{{building.max_evacuation_time}} sec</span></p>
                <br>
                <div class="">
                  <div class="">
                    <p><a href="{{getUrl(building.id)}}" class="btn btn-info btn-block" role="button">Details</a>
                  </div>
                  <div class="">
                    <a type="button"  href="#" class="btn btn-outline btn-danger btn-block">Delete</a>
                  </div>
                </div>
            </div>
        </div>
      </div>
  </div>

</div>


{% endverbatim %}

{% endblock %}


{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"> </script>
<script src="{% static 'bower_components/angular-masonry/angular-masonry.js' %}"></script>


<script>
  var app = angular.module('mainApp', ['wu.masonry']);

  app.controller('buildingController', ['$scope', '$http', '$rootScope', '$timeout', function($scope, $http, $rootScope, $timeout){
    $scope.name = "Michael";
    $scope.buildings = [];

    $scope.getUrl = function(id){
      return '/building/'+ id;
    };

    $scope.getPhoto = function(photo){
      if(photo){
        return photo;
      } else
        return '/static/img/building.jpg';
    };

   $scope.$watch('filterText', function() {
     $timeout(function () {
        $rootScope.$broadcast('masonry.reload');
      }, 200);
   });

    $http.get('/buildings/')
      .then(
        function(response){
          console.log(response.data);
          $scope.buildings = response.data;
        }
      );
  }]);
</script>

{% endblock %}






{% block js-jquery-testing %}
<script>
$( document ).ready(function() {
  $.getJSON( "/buildings/", function( data ) {
    console.log(data);
  });
});
</script>
{% endblock %}
