.container-alert-flash {
  top:10px;
  position: absolute;
  z-index: 50000;
  width: 300px;
  right: 20px;
  margin: 0px;
  padding: 30px;
}



/*.grid-item {
  width: 33.333%  ;
  float: left;
}*/


.grid-item {
  width: 25%;
  /*float: left;*/

}
