.container-alert-flash {
  top:10px;
  position: fixed;
  z-index: 50000;
  width: 300px;
  right: 20px;
  margin: 0px;
  padding: 30px;
}

.tips{
  color: red;
}

.lang {
cursor: pointer;
}

.extra-margin{
  margin-bottom: 20px;
}

.maps-blueprint {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-icon .number{
  position: relative;
  top: -55px;
  left:-10px;
  font-size: 14px;
  width: 40px;
  text-align: center;
}
.leaflet-container img {
  display: block;
  margin-left: auto;
  margin-right: auto
}


@media screen and (max-width: 600px) {
  /* 5 columns for larger screens */
  .grid-item { width: 100%; }

}
@media screen and (min-width: 600px) and (max-width: 1200px) {
  /* 5 columns for larger screens */
  .grid-item { width: calc(33.3% - 10px); }
}
@media screen and (min-width: 1200px) {
  /* 5 columns for larger screens */
  .grid-item { width: calc(25% - 10px); }
}

@media screen and (max-width: 765px) {
  #page-wrapper { margin-left: 0px; margin-top:60px; }
}

.grid{
  margin-top:10px;
}

.grid-item {
  margin-bottom: 20px;
  border: 1px solid #111;
}

.delete-button-building {
  position: absolute;
  right: -8px;
  top: -8px;
}

.alert-box{
  background-color: red;
}
