{% extends 'dashboard/base_logged.html' %}
{% load staticfiles %}

{% block title %}Tag Initialization {% endblock %}
{% block main_header %}Tag Initialization for user {{request.user}} {% endblock %}



{% block main_content %}
<table class="table">
<tr>
  <td>Teacher<td/>
  <td>Students<td/>
</tr>
{% for teacher in teachers %}
<tr>
  <td>{{teacher}}</td>
  {% for tag in  teacher.leader.all %}
    <td>{{tag}}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
<form id="deleteTeacherTags">
  <select>
    {% for teacher in teachers %}
     <option value="{{teacher.tag_string}}">{{teacher.tag_string}}</option>
    {% endfor %}
  </select>
  <button type="submit" class="btn btn-danger">Delete All Tags of The Teacher</button>
</form>
<hr/>
<div id="tags">

</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/mqttws31.js' %}"></script>
<script src="{% static 'js/config.js' %}"></script>

<script>

var teacherTag;
$(document).on('submit', '.tag_form', function(e) {
    e.preventDefault();
    var form = $(this);
    var tag = form.find('input[type=text]').val();
    var isTeacher = form.find('input[type=checkbox]').is(':checked');
    if(teacherTag==undefined && !isTeacher){
      notification_message('Insert teacher tag first');
      return false;
    }
    $.ajax({
      type: "POST",
      url: '',
      data: {
        csrfmiddlewaretoken:  getCookie('csrftoken'),
        tag: tag,
        teacher: teacherTag
      },
    success: function(){
      form.find('button[type=submit]').hide();
      $('.isTeacher').hide();
      if(isTeacher)
        $('#deleteTeacherTags select').append('<option val="'+tag+'">'+tag+'</option>')
    }
    });
    if(isTeacher){
      teacherTag = tag;
    }
    return false;
});


$(document).ready(function() {
  var tagTable = {{tags|safe}};
  client = new Paho.MQTT.Client(host, Number(port), "web_" + parseInt(Math.random() * 100));
  client.onConnectionLost = onConnectionLost;
  client.onMessageArrived = onMessageArrived;
  client.connect({onSuccess:onConnect});

  function onConnect() {
    console.log("onConnect");
    client.subscribe('#');
  }
  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:"+responseObject.errorMessage + " "+ responseObject.errorCode);
    }
  }
  function onMessageArrived(message) {
    var jsonMessage = JSON.parse(message.payloadString);
    detectedTag = jsonMessage.tag;
    if(tagTable.indexOf(detectedTag) == -1){
      tagTable.push(detectedTag);
      data = '<form class="tag_form" id="'+ detectedTag.replace(/\s+/, "")  +'">'
      data += '<input type="text" size="60" readonly value="'+ detectedTag +'">'
      data += '<label>1</label>'
      data += '<input type="checkbox" class="isTeacher" name="teacher">'
      data += '<button type="submit">Save</button>'
      data += '</form>'
      $("#tags").append(data);
    }
    else{
      var tagId = '#' + detectedTag + ' label';
      var number = parseInt($(tagId).html()) + 1;
      $(tagId).html(number);
    }
  }

  $('#deleteTeacherTags').submit(function(e){
    e.preventDefault();
    var tag_option = $(this).find('option:selected')
    var tag = tag_option.val();
    $.ajax({
      type: "DELETE",
      url: '?tag='+ tag +'',
      beforeSend: function(xhr) {
       xhr.setRequestHeader("X-CSRFToken", getCookie("csrftoken"));
     },
     success: function(data){
       for(var elem in data){
         var index = tagTable.indexOf(data[elem]);
         tagTable.splice(index, 1);
       }
       var index = tagTable.indexOf(tag);
       tagTable.splice(index, 1);
       tag_option.remove();
    }
    });
  });

});

</script>


{% endblock %}
