{% extends 'dashboard/base_logged.html' %}
{% load staticfiles %}

{% block title %}Tag Initialization {% endblock %}
{% block main_header %}Tag Initialization for user {{request.user}} {% endblock %}



{% block main_content %}
<div id="tags">
  <form class="tag_form">
    <button type="submit">Save</button>
  </form>
</div>

{% endblock %}

{% block js %}
<script src="{% static 'js/mqttws31.js' %}"></script>
<script>

$(document).on('submit', '.tag_form', function(e) {
    e.preventDefault();
    console.log('hello');
    // Do stuff with the formid
    return false;
});


$(document).ready(function() {
  var tagTable = [];
  client = new Paho.MQTT.Client('localhost', Number(9001), "web_" + parseInt(Math.random() * 100));
  client.onConnectionLost = onConnectionLost;
  client.onMessageArrived = onMessageArrived;
  client.connect({onSuccess:onConnect});

  function onConnect() {
    console.log("onConnect");
    client.subscribe('#');
  }
  function onConnectionLost(responseObject) {
    if (responseObject.errorCode !== 0) {
      console.log("onConnectionLost:"+responseObject.errorMessage + " "+ responseObject.errorCode);
    }
  }
  function onMessageArrived(message) {
    var jsonMessage = JSON.parse(message.payloadString);
    detectedTag = jsonMessage.tag;
    if(tagTable.indexOf(detectedTag) == -1){
      tagTable.push(detectedTag);
      console.log(tagTable);
      data = '<form class="tag_form">'
      data += '<input type="text" readonly value="'+ detectedTag +'">'
      data += '<input type="checkbox" name="teacher">'
      data += '<button type="submit">Save</button>'
      data += '</form>'
      $("#tags").append(data);
    }
  }



});

</script>


{% endblock %}
