{% extends 'dashboard/base_logged.html' %}
{% load crispy_forms_tags %}



{% block title %}New Evacuation Path {% endblock %}
{% block main_header %}Insert New Evacuation Path{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-xs-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Please fill the form
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form method="POST" action="{% url 'new_plan' pk_experiment=test %}"> {% csrf_token %}
                 {{form  | crispy }}
              <button type="submit" class="btn btn-success" name="action">Insert Evacuation Path</button>
            </form>
          </div>
    </div>
  </div>
</div>

{% endblock %}
