{% extends 'dashboard/base_logged.html' %}
{% load crispy_forms_tags %}



{% block title %}New Plan {% endblock %}
{% block main_header %}Insert New Plan{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Please fill the form
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-12">
            <form method="POST" action="  "> {% csrf_token %}
              {{form  | crispy }}
              <button type="submit" class="btn btn-success" name="action">Insert Plan</button>
            </form>
          </div>
    </div>
  </div>
</div>

{% endblock %}
<a class="btn btn-default" href="{% url 'building_detail' pk=building %}">Cancel</a>
