{% extends 'dashboard/base_logged.html' %}
{% load crispy_forms_tags %}



{% block title %}{{object.name}} {% endblock %}
{% block main_header %}{{object.name}} <a type="button"  href="{% url 'test_list' %}" class="btn btn-outline btn-default"><i class="fa fa-arrow-left"></i>
 Back</a>
 {% endblock %}


 {% block main_content %}
 <div clas="row">
   <div class="col-md-4">
     <form method="POST" action="">  {% csrf_token %}
       {{form | crispy }}
       <button type="submit" class="btn btn-success" name="action">Update Plan</button>
     </form>
   </div>
   <div class="col-md-8 ">
     <a type="button"  href="{% url 'plan_delete' pk=object.pk pk_experiment=object.experiment.pk  %}" class="btn btn-outline btn-danger btn-lg pull-right">Delete</a>
   </div>
 </div>
{% endblock %}
