{% extends 'dashboard/base_logged.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load poll_extras %}


{% block css_styles %}
<link href="{% static "css/leaflet.css" %}" rel="stylesheet" type="text/css">
<style>

  .leaflet-div-icon {
  background: transparent;
  border: none;
  }


</style>
{% endblock %}

{% block title %}{{object.name}} {% endblock %}
{% block main_header %}{{object.name}} <a type="button"  href="{% url 'experiment_list' %}" class="btn btn-outline btn-default"><i class="fa fa-arrow-left"></i>
 Back</a>
 {% endblock %}


 {% block main_content %}
 <div clas="row">
   <div class="col-md-4">
     <form method="POST" action="">  {% csrf_token %}
       {{form | crispy }}
       <button type="submit" class="btn btn-success" name="action">Update Plan</button>
     </form>
   </div>
   <div class="col-md-8 ">
     <a type="button"  href="{% url 'plan_delete' pk=object.pk pk_experiment=object.experiment.pk  %}" class="btn btn-outline btn-danger btn-lg pull-right">Delete</a>
   </div>
 </div>

<div class="row">
  <div class="col-md-8">
    <h1 class="lead">{{object.experiment.building}}</h1>
    {% for floor in object.experiment.building.floor_set.all %}
      <!-- <img src="{{floor.blueprint.url}}" class="img-responsive"/> -->
      <h4 class="lead text-center">{{floor}}</h4>
      <div id="image-map-{{floor.pk}}" class="maps-blueprint"></div>
    {% endfor %}
  </div>
    <div class="col-md-4" id="plan">
      <h3>Plan</h3>
      {% for connection in object.connection_set.all  %}
      <div class='panel panel-default'>
        <div class='panel-body'>
          <p> Step {{forloop.counter}}</p>
          <p> Node -->{{connection.checkpoint.pk}}</p>
        </div>
      </div>
      {% if forloop.last %}<a href="{% url 'plan_delete_connections' pk=object.pk pk_experiment=object.experiment.pk %}" class="btn btn-danger">Clear</a> {% endif  %}
      {% empty %}
      <form method="POST" action="{% url 'plan_add_connection' pk_experiment=object.experiment.pk pk=object.pk %}" id="form-plan"> {% csrf_token %}
        {{formset.as_p}}
        <button id="submit" type="submit" class="btn btn-primary" name="action">Save</button>
      </form>
      {% endfor %}
      <br>
    </div>
  </div>
</div>


{% endblock %}



{% block js %}
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaf_custom.js' %}"></script>
<script>
var plan = [];
{% for floor in object.experiment.building.floor_set.all %}
  var map{{floor.pk}} = defineMap('image-map-{{floor.pk}}');
  map{{floor.pk}}.markers = [];
  setMap(map{{floor.pk}}, {{floor.blueprint.width}}, {{floor.blueprint.height}}, '{{floor.blueprint.url}}')
  {% for checkpoint in floor.checkpoint_set.all|in_category:object.experiment  %}
    var x = {{checkpoint.coord_x}}, y = {{checkpoint.coord_y}};
    var name = {{checkpoint.pk}};
    marker = new L.marker([ x, y], {icon: new L.NumberedDivIcon({number: name })}).addTo(map{{floor.pk}});
    map{{floor.pk}}.markers.push(marker);
    {% if empty_plan %}
    marker.on('click',function(event){
        var marker = event.target;
        var marker_id = marker.options.icon.options.number;
        plan.push(marker);
        var iteration = plan.length
        var newRow = jQuery("<div class='panel panel-default'> \
        <div class='panel-body'><p> Step "+ iteration +"</p><p> Node -->" + marker_id+" \
        </p></div> \
        </div> \
        ");
        jQuery('#plan').append(newRow);

        var form = jQuery("\
          <input id='id_form-"+(iteration-1)+"-seq' min='0' name='form-"+ (iteration-1) +"-seq' type='hidden' value="+ iteration +"> \
          <input name='form-"+ (iteration-1) +"-checkpoint' type='hidden' value="+ marker_id +"> \
        ");
        //jQuery('#form-plan').prepend(form);
        jQuery('#submit').before(form);
        jQuery('#id_form-TOTAL_FORMS').val(iteration);
    });
    {% endif %}
  {% endfor %}
{% endfor %}


function onMapClick(e) {};
</script>
{% endblock %}


<input name='form-"+ (iteration-1) +"-seq' type='number' value="+iteration+"> \
<input name='form-"+ (iteration-1) +"-checkpoint' type='text' value="+ marker_id +"> \
<input name='form-"+ (iteration-1) +"-checkpoint' type='text' value="+ marker_id +">\
<input name='form-"+ (iteration-1) +"-plan' type='text' value="+ {{object.pk}} +"> \
