{% extends 'dashboard/base_logged.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load poll_extras %}


{% block css_styles %}
<link href="{% static "css/leaflet.css" %}" rel="stylesheet" type="text/css">
<style>
.panel-body {
      box-shadow: 0 5px 5px rgba(0,0,0,.05);
}
.node {
  margin:5px 30%;
  font-size: x-large;
}
.list-path {
  border-style: solid;
  border-color: #ABC7E0;
  padding: 14px;
  margin-top: 10px;
}

</style>
{% endblock %}

{% block title %}{{object.name}} {% endblock %}
{% block main_header %}{{object.name}}
<a type="button"  href="{% url 'building_detail' pk=object.experiment.building.pk %}" class="btn btn-outline btn-default"><i class="fa fa-arrow-left"></i> Back to Building Details</a>
 {% endblock %}


 {% block main_content %}
 <div clas="row">
   <div class="col-md-8">
     <button data-toggle="collapse" data-target="#updatePath">Update Path Settings</button>
     <div id="updatePath" class="collapse">
       <form method="POST" action="" class="form-inline" data-step="1" data-intro="Update your plan">  {% csrf_token %}
         {{form | crispy }}
         <br>
         <br>
         <button type="submit" class="btn btn-success" name="action">Update Evacuation Path</button>
       </form>
     </div>
   </div>
   <div class="col-md-4 ">
     <a type="button"  href="{% url 'plan_delete' pk=object.pk pk_experiment=object.experiment.pk  %}" class="btn btn-outline btn-danger btn-lg pull-right">Delete Path</a>
   </div>
 </div>

<div class="row">
  <div class="col-md-8" data-step="2" data-intro="Click checkpoints to create a new plan">
    <h1 class="lead">{{object.experiment.building}}</h1>
    <p>Press the blueprint fill the form and press save. When you finish return to building detail to insert Paths</p>

    {% for floor in object.experiment.building.floor_set.all %}
      <!-- <img src="{{floor.blueprint.url}}" class="img-responsive"/> -->
      <h4 class="lead text-center">{{floor}}</h4>
      <div id="image-map-{{floor.pk}}" class="maps-blueprint"></div>
    {% endfor %}
  </div>
  <div class="col-md-4" id="plan">
    <div class="list-path">
      <div>
        <ul {% if other_plans.count > 0%}>
        <h4>Other Paths of the Experiment {{object.experiment}}</h4>
          {% for plan in other_plans %}<li><h5><a href="{% url 'plan_detail' pk_experiment=object.experiment.pk pk=plan.pk %}">{{plan}}</a></h5></li>{% endfor %}
        </ul>
        {% endif %}
      </div>
      <br>
      <div data-step="4" data-intro="Create new plan">
        <form class="form-inline" method="POST" action="{% url 'new_plan' pk_experiment=object.experiment.pk %}?next=new_object" data-step="" data-intro="">{% csrf_token %}
          <input type="text" class="form-control input-sm" name="name" placeholder="Evacuation Path Name*">
          <button type="submit" class="btn btn-info btn-sm ">New Evacuation Path</button>
        </form>
      </div>
    </div>
    <h3>Evacuation Path</h3>
    {% for connection in object.connection_set.all  %}
    <div class='panel panel-success'>
      <div class='panel-body'>
        <p><u> Step {{forloop.counter}}</u></p>
        <p class="node"> Node. {{connection.checkpoint.sequence}} {% if forloop.last %}<i class="fa fa-times-circle-o">{% else %} <i class="fa fa-arrow-down"></i>{% endif %}</i></p>
        <p><i>{{connection.checkpoint.floor.name}}<i></p>
      </div>
    </div>
    {% if forloop.last %}<a href="{% url 'plan_delete_connections' pk=object.pk pk_experiment=object.experiment.pk %}" class="btn btn-danger">Clear</a> {% endif  %}
    {% empty %}
    <form method="POST" action="{% url 'plan_add_connection' pk_experiment=object.experiment.pk pk=object.pk %}" id="form-plan"> {% csrf_token %}
      {{formset.as_p}}
      <button id="submit" type="submit" class="btn btn-primary" name="action">Save</button>
      <a id="clear" type="" class="btn btn-danger">Clear</a>
    </form>
    {% endfor %}
    <br/>
  </div>

</div>


{% endblock %}



{% block js %}
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaf_custom.js' %}"></script>
<script>
var plan = [];
{% for floor in object.experiment.building.floor_set.all %}
  var map{{floor.pk}} = defineMap('image-map-{{floor.pk}}');
  map{{floor.pk}}.markers = [];
  setMap(map{{floor.pk}}, {{floor.blueprint.width}}, {{floor.blueprint.height}}, '{{floor.blueprint.url}}')
  {% for checkpoint in floor.checkpoint_set.all|in_category:object.experiment  %}
    var x = Number({{checkpoint.coord_x}}), y = Number({{checkpoint.coord_y}});
    var name = {{checkpoint.sequence}};
    var node_id = {{checkpoint.pk}}
    marker = new L.marker([ x, y], {icon: new L.NumberedDivIcon({number: name, node_id: node_id })}).addTo(map{{floor.pk}});
    map{{floor.pk}}.markers.push(marker);
    {% if empty_plan %}
    marker.on('click',function(event){
        var marker = event.target;
        var marker_id = marker.options.icon.options.node_id;
        plan.push(marker);
        var iteration = plan.length
        var newRow = jQuery("<div class='panel panel-default'> \
        <div class='panel-body'><p><u> Step "+ iteration +"</u></p><p class='node'> Node." + marker.options.icon.options.number+" <i class='fa fa-arrow-down'></i> \
        </p> \
        </div> \
        </div> \
        ");
        jQuery('#plan').append(newRow);

        var form = jQuery("\
          <input id='id_form-"+(iteration-1)+"-seq' min='0' name='form-"+ (iteration-1) +"-seq' type='hidden' value="+ iteration +"> \
          <input name='form-"+ (iteration-1) +"-checkpoint' type='hidden' value="+ marker_id +"> \
        ");
        //jQuery('#form-plan').prepend(form);
        jQuery('#submit').before(form);
        jQuery('#id_form-TOTAL_FORMS').val(iteration);
    });
    {% endif %}
  {% endfor %}
{% endfor %}


function onMapClick(e) {};
</script>
<script>
$(function() {
  $("#id_before").change(function() {
    if($.isNumeric(this.value)) {
    $.getJSON("/experiment/{{object.experiment.pk}}/plan/"+this.value+"/api/", function( data ) {
      json_data = jQuery.parseJSON(data);
      $.each(json_data, function(i, v) {
      console.log(v.fields);
      });
    });
  }
});
});

$('#clear').click(function(){
  location.reload();
});


</script>
{% endblock %}
